<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title></title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../static/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../static/assets/vendors/iconfonts/ionicons/css/ionicons.css">
  <link rel="stylesheet" href="../../static/assets/vendors/iconfonts/typicons/src/font/typicons.css">
  <link rel="stylesheet" href="../../static/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="../../static/assets/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../../static/assets/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../static/assets/css/shared/style.css">
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="../../static/assets/css/demo_1/style.css">
  <!-- End Layout styles -->
  <link rel="shortcut icon" href="../../static/assets/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="true">
              <img class="img-xs rounded-circle" src="../../static/assets/images/faces/face8.jpg" alt="Profile image">
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <div class="dropdown-header text-center">
                <img class="img-md rounded-circle" src="../../static/assets/images/faces/face8.jpg" alt="Profile image">
                <p class="mb-1 mt-3 font-weight-semibold" id="user_name_img_place_0">Allen Moreno</p>
                <p class="font-weight-light text-muted mb-0" id="user_grade_img_place_0">allenmoreno@gmail.com</p>
              </div>
              <form action="sign_out" method="GET" id="form_sign_out">
              </form>
              <a class="dropdown-item" onclick="{document.getElementById('form_sign_out').submit()}">Sign Out <i
                  class="dropdown-item-icon ti-power-off"></i></a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
              <div class="profile-image">
                <img class="img-xs rounded-circle" src="../../static/assets/images/faces/face8.jpg" alt="profile image">
                <!-- <div class="dot-indicator bg-success"></div> -->
              </div>
              <div class="text-wrapper">
                <p class="profile-name" id="user_name_img_place"></p>
                <p class="designation" id="user_grade_img_place"></p>
              </div>
            </a>
          </li>
          <!-- <li class="nav-item nav-category">Main Menu</li> -->
          <li class="nav-item">
            <a class="nav-link" href="system_admin_center_page">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">用户信息</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="update_operation">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">用户修改与注销</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sign_up_operation">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">用户注册</span>
            </a>
          </li>

        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <center>
            <h1>用户修改与注销</h1>
          </center>

          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">用户信息修改</h4>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">account select</label>
                      <div class="col-sm-4">
                        <select class="form-control" id="account_select" onchange="user_account_load()">
                          <option></option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">account</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="user_account">
                      </div>
                      <div class="col-sm-4">
                        <input type="submit" value="注销" class="btn btn-success mr-2" onclick="user_delete()">
                      </div>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">name</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="user_name">
                      </div>
                      <div class="col-sm-4">
                        <input type="submit" value="修改" class="btn btn-success mr-2" onclick="user_name_update()">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">grade</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="user_grade">
                      </div>
                      <div class="col-sm-4">
                        <input type="submit" value="修改" class="btn btn-success mr-2" onclick="user_grade_update()">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">identity</label>
                      <div class="col-sm-4">
                        <select class="form-control" id="user_identity">
                          <option>reader</option>
                          <option>journal_admin</option>
                          <option>admin</option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <input type="submit" value="修改" class="btn btn-success mr-2" onclick="user_identity_update()">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="col-sm-10">
                      <div class="form-group row">
                        <input type="submit" value="全部修改" class="btn btn-success form-control "
                          onclick="admin_user_update()">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- content-wrapper ends -->

      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../static/assets/vendors/js/vendor.bundle.base.js"></script>
  <script src="../../static/assets/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../../static/assets/js/shared/off-canvas.js"></script>
  <script src="../../static/assets/js/shared/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>
<script>
  function admin_info(data) {
    user = data['user_info']
    user_name = user['name']
    user_grade = user['grade']
    document.getElementById("user_name_img_place").innerText = user_name
    document.getElementById("user_name_img_place_0").innerText = user_name
    document.getElementById("user_grade_img_place").innerText = user_grade
    document.getElementById("user_grade_img_place_0").innerText = user_grade
  }

  window.onload = function () {
    $.ajax({
      url: "admin_info", success: function (data) {
        admin_info(data)
      }
    });

    $.ajax({
      url: "account_select_load", success: function (data) {
        account_select_load(data)
      }
    });

  }



  function account_select_load(data) {
    account_list = data['account_list']
    var account_list_length = 0;
    for (var item in account_list) {
      account_list_length++;
    }
    var sec = document.getElementById("account_select")
    sec.innerHTML = ""
    for (var i = 0; i < account_list_length; i++) {

      var account = account_list[i]['account']
      var flag = 0;
      for (var j = 0; j < sec.options.length; j++) {
        var r = sec.options[j].value
        if (account == r) {
          flag = 1
          break;
        }
      }
      if (flag == 1) {
        continue;
      }
      var op = document.createElement("option")
      op.setAttribute("value", account)
      op.innerText = account
      sec.appendChild(op)
      console.log(document.getElementById("account_select").value)
    }
  }

  function user_account_load() {
    document.getElementById("user_account").value = document.getElementById("account_select").value
    post_data = {
      'account': document.getElementById("user_account").value
    }
    $.ajax({
      url: "account_info_load", data: post_data, success: function (data) {
        document.getElementById("user_name").value = data['name']
        document.getElementById("user_grade").value = data['grade']
        console.log(data['identity'])
        document.getElementById("user_identity").value = data['identity']
      }
    });
  }

  function admin_user_update() {
    post_data = {
      'account': document.getElementById("user_account").value,
      'name': document.getElementById("user_name").value,
      'grade': document.getElementById("user_grade").value,
      'identity': document.getElementById("user_identity").value,
    }
    admin_user_update_trans()
  }

  function user_name_update() {
    post_data = {
      'account': document.getElementById("user_account").value,
      'name': document.getElementById("user_name").value,
      'grade': "",
      'identity': ""
    }
    admin_user_update_trans()
  }

  function user_grade_update() {
    post_data = {
      'account': document.getElementById("user_account").value,
      'name': "",
      'grade': document.getElementById("user_grade").value,
      'identity': ""
    }
    admin_user_update_trans()
  }

  function user_identity_update() {
    post_data = {
      'account': document.getElementById("user_account").value,
      'name': "",
      'grade': "",
      'identity': document.getElementById("user_identity").value,
    }
    admin_user_update_trans()
  }

  function admin_user_update_trans() {
    $.ajax({
      url: "admin_user_update", data: post_data, success: function (data) {
        if (data['flag'] == 1) {
          alert("修改成功")
          $.ajax({
            url: "admin_users_info", success: function (data) {
              reader_table_load(data)
              journal_admin_table_load(data)
            }
          });
          $.ajax({
            url: "account_select_load", success: function (data) {
              account_select_load(data)
            }
          });
        } else {
          alert("修改失败")
        }
      }
    });
  }

  function user_delete() {
    post_data = {
      'account': document.getElementById("user_account").value,
    }
    $.ajax({
      url: "user_delete", data: post_data, success: function (data) {
        if (data['dict']['flag'] == 1) {
          alert("注销成功")
          $.ajax({
            url: "admin_users_info", success: function (data) {
              reader_table_load(data)
              journal_admin_table_load(data)
            }
          });
          $.ajax({
            url: "account_select_load", success: function (data) {
              account_select_load(data)
            }
          });

          document.getElementById("user_account").value = ""
          document.getElementById("user_name").value = ""
          document.getElementById("user_grade").value = ""
          document.getElementById("user_identity").value = ""

        } else {
          alert("注销失败")
        }
      }
    });
  }

  function user_register() {
    post_data = {
      'account': document.getElementById("user_register_account").value,
      'name': document.getElementById("user_register_name").value,
      'password': document.getElementById("user_register_password").value,
      'grade': document.getElementById("user_register_grade").value,
      'identity': document.getElementById("user_register_identity").value,
    }
    $.ajax({
      url: "user_register", data: post_data, success: function (data) {
        if (data['dict']['flag'] == 1) {
          alert("注册成功")
          $.ajax({
            url: "admin_users_info", success: function (data) {
              reader_table_load(data)
              journal_admin_table_load(data)
            }
          });
          $.ajax({
            url: "account_select_load", success: function (data) {
              account_select_load(data)
            }
          });
        } else {
          alert("注册失败")
        }
      }
    });
  }


</script>

</html>