<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title></title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../static/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../static/assets/vendors/iconfonts/ionicons/css/ionicons.css">
  <link rel="stylesheet" href="../static/assets/vendors/iconfonts/typicons/src/font/typicons.css">
  <link rel="stylesheet" href="../static/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="../static/assets/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../static/assets/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../static/assets/css/shared/style.css">
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="../static/assets/css/demo_1/style.css">
  <!-- End Layout styles -->
  <link rel="shortcut icon" href="../static/assets/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <!-- <a class="navbar-brand brand-logo" href="../../index.html">
          <img src="../static/assets/images/logo.svg" alt="logo" /> </a>
        <a class="navbar-brand brand-logo-mini" href="../../index.html">
          <img src="../static/assets/images/logo-mini.svg" alt="logo" /> </a> -->
      </div>
      <!-- <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav">
          <li class="nav-item font-weight-semibold d-none d-lg-block">Help : +050 2992 709</li>
          <li class="nav-item dropdown language-dropdown">
            <a class="nav-link dropdown-toggle px-2 d-flex align-items-center" id="LanguageDropdown" href="#"
              data-toggle="dropdown" aria-expanded="false">
              <div class="d-inline-flex mr-0 mr-md-3">
                <div class="flag-icon-holder">
                  <i class="flag-icon flag-icon-us"></i>
                </div>
              </div>
              <span class="profile-text font-weight-medium d-none d-md-block">English</span>
            </a>
            <div class="dropdown-menu dropdown-menu-left navbar-dropdown py-2" aria-labelledby="LanguageDropdown">
              <a class="dropdown-item">
                <div class="flag-icon-holder">
                  <i class="flag-icon flag-icon-us"></i>
                </div>English
              </a>
              <a class="dropdown-item">
                <div class="flag-icon-holder">
                  <i class="flag-icon flag-icon-fr"></i>
                </div>French
              </a>
              <a class="dropdown-item">
                <div class="flag-icon-holder">
                  <i class="flag-icon flag-icon-ae"></i>
                </div>Arabic
              </a>
              <a class="dropdown-item">
                <div class="flag-icon-holder">
                  <i class="flag-icon flag-icon-ru"></i>
                </div>Russian
              </a>
            </div>
          </li>
        </ul>
        <form class="ml-auto search-form d-none d-md-block" action="#">
          <div class="form-group">
            <input type="search" class="form-control" placeholder="Search Here">
          </div>
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator" id="messageDropdown" href="#" data-toggle="dropdown"
              aria-expanded="false">
              <i class="mdi mdi-bell-outline"></i>
              <span class="count">7</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
              aria-labelledby="messageDropdown">
              <a class="dropdown-item py-3">
                <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
                <span class="badge badge-pill badge-primary float-right">View all</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="../static/assets/images/faces/face10.jpg" alt="image" class="img-sm profile-pic"> </div>
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
                  <p class="font-weight-light small-text"> The meeting is cancelled </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="../static/assets/images/faces/face12.jpg" alt="image" class="img-sm profile-pic"> </div>
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
                  <p class="font-weight-light small-text"> The meeting is cancelled </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="../static/assets/images/faces/face1.jpg" alt="image" class="img-sm profile-pic"> </div>
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
                  <p class="font-weight-light small-text"> The meeting is cancelled </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="mdi mdi-email-outline"></i>
              <span class="count bg-success">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
              aria-labelledby="notificationDropdown">
              <a class="dropdown-item py-3 border-bottom">
                <p class="mb-0 font-weight-medium float-left">You have 4 new notifications </p>
                <span class="badge badge-pill badge-primary float-right">View all</span>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-alert m-auto text-primary"></i>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal text-dark mb-1">Application Error</h6>
                  <p class="font-weight-light small-text mb-0"> Just now </p>
                </div>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-settings m-auto text-primary"></i>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>
                  <p class="font-weight-light small-text mb-0"> Private message </p>
                </div>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-airballoon m-auto text-primary"></i>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal text-dark mb-1">New user registration</h6>
                  <p class="font-weight-light small-text mb-0"> 2 days ago </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <img class="img-xs rounded-circle" src="../static/assets/images/faces/face8.jpg" alt="Profile image"> </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <div class="dropdown-header text-center">
                <img class="img-md rounded-circle" src="../static/assets/images/faces/face8.jpg" alt="Profile image">
                <p class="mb-1 mt-3 font-weight-semibold">Allen Moreno</p>
                <p class="font-weight-light text-muted mb-0">allenmoreno@gmail.com</p>
              </div>
              <a class="dropdown-item">My Profile <span class="badge badge-pill badge-danger">1</span><i
                  class="dropdown-item-icon ti-dashboard"></i></a>
              <a class="dropdown-item">Messages<i class="dropdown-item-icon ti-comment-alt"></i></a>
              <a class="dropdown-item">Activity<i class="dropdown-item-icon ti-location-arrow"></i></a>
              <a class="dropdown-item">FAQ<i class="dropdown-item-icon ti-help-alt"></i></a>
              <a class="dropdown-item">Sign Out<i class="dropdown-item-icon ti-power-off"></i></a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div> -->
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
              <div class="profile-image">
                <img class="img-xs rounded-circle" src="../static/assets/images/faces/face8.jpg" alt="profile image">
                <!-- <div class="dot-indicator bg-success"></div> -->
              </div>
              <div class="text-wrapper">
                <p class="profile-name" id="user_name_img_place"></p>
                <p class="designation" id="user_grade_img_place"></p>
              </div>
            </a>
          </li>
          <!-- <li class="nav-item nav-category">Main Menu</li> -->
          <li class="nav-item">
            <a class="nav-link" href="journal_admin_center_page">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">处理中心</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="journal_admin_order_page">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">预约处理中心</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="journal_admin_borrow_page">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">借阅处理中心</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="journal_admin_return_page">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">归还处理中心</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="journal_admin_store_page">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">库存处理中心</span>
            </a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" href="../../index.html">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon typcn typcn-coffee"></i>
              <span class="menu-title">Basic UI Elements</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="../ui-features/buttons.html">Buttons</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../ui-features/dropdowns.html">Dropdowns</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../ui-features/typography.html">Typography</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../forms/basic_elements.html">
              <i class="menu-icon typcn typcn-shopping-bag"></i>
              <span class="menu-title">Form elements</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../chartjs.html">
              <i class="menu-icon typcn typcn-th-large-outline"></i>
              <span class="menu-title">Charts</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../tables/basic-table.html">
              <i class="menu-icon typcn typcn-bell"></i>
              <span class="menu-title">Tables</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../icons/font-awesome.html">
              <i class="menu-icon typcn typcn-user-outline"></i>
              <span class="menu-title">Icons</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon typcn typcn-document-add"></i>
              <span class="menu-title">User Pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="../samples/blank-page.html"> Blank Page </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../samples/login.html"> Login </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../samples/register.html"> Register </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../samples/error-404.html"> 404 </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../samples/error-500.html"> 500 </a>
                </li>
              </ul>
            </div>
          </li> -->
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="col-lg-12 stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">期刊借阅信息</h4>
                <p class="card-description"> Add class <code>.table-{color}</code></p>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>用户</th>
                      <th>期刊名</th>
                      <th>年</th>
                      <th>期</th>
                      <th>操作</th>
                      <th>执行</th>
                    </tr>
                  </thead>
                  <tbody id="borrow_table">
                    <tr class="table-info">
                      <td> <input id="user_name_input"></input><select id="user_name_select">
                          <option></option>
                        </select> </td>
                      <td> <input id="journal_name_input"></input><select id="journal_name_select">
                          <option></option>
                        </select> </td>
                      <td> <input id="journal_year_input"></input><select id="journal_year_select">
                          <option></option>
                        </select> </td>
                      <td> <input id="journal_stage_input"></input><select id="journal_stage_select">
                          <option></option>
                        </select> </td>
                      <td><select id="record_update_mothed">
                          <option>借阅</option>
                          <option>归还</option>
                        </select></td>
                      <td><input type="submit" value="执行" class="btn btn-success mr-2" onclick="test()"></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-12 stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">期刊借阅信息</h4>
                <p class="card-description"> Add class <code>.table-{color}</code></p>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>user_name</th>
                      <th>journal_name</th>
                      <th>journal_year</th>
                      <th>journal_stage</th>
                      <th>status</th>
                      <th>time</th>
                    </tr>
                  </thead>
                  <tbody id="record_table" onclick="record_table_select()">

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-12 stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">期刊库存信息</h4>
                <p class="card-description"> Add class <code>.table-{color}</code></p>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>journal_name</th>
                      <th>journal_year</th>
                      <th>journal_stage</th>
                      <th>journal_num</th>
                      <th>lend_num</th>
                      <th>order_num</th>
                      <th>stock_num</th>
                    </tr>
                  </thead>
                  <tbody id="journal_table" onclick="journal_table_select()">

                  </tbody>
                </table>
              </div>
            </div>
          </div> -->

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright &copy; 2019.Company
                name All rights reserved.<a target="_blank"
                  href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
                  class="mdi mdi-heart text-danger"></i>
              </span>
            </div>
          </footer> -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../static/assets/vendors/js/vendor.bundle.base.js"></script>
  <script src="../static/assets/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../static/assets/js/shared/off-canvas.js"></script>
  <script src="../static/assets/js/shared/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

<script>
  // function test() {
  //   console.log(document.getElementById("user_register_identity").value)
  // }



  function journal_admin_user_info_load(data) {
    user = data['user_info']
    user_name = user['name']
    user_grade = user['grade']
    document.getElementById("user_name_img_place").innerText = user_name
    document.getElementById("user_grade_img_place").innerText = user_grade
  }
  function record_table_load(data) {
    record_list = data['record_list']
    var table = document.getElementById("record_table");
    table.innerHTML = ""
    // table.deleteTFoot();
    // var footer = table.createTFoot();
    var record_list_length = 0;
    for (var item in record_list) {
      record_list_length++;
    }
    for (var i = 0; i < record_list_length; i++) {
      var row = table.insertRow(0);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      var cell3 = row.insertCell(2);
      var cell4 = row.insertCell(3);
      var cell5 = row.insertCell(4);
      var cell6 = row.insertCell(5);
      cell1.innerText = record_list[i]['user_name'];
      cell2.innerText = record_list[i]['journal_name'];
      cell3.innerText = record_list[i]['journal_year'];
      cell4.innerText = record_list[i]['journal_stage'];
      cell5.innerText = record_list[i]['status'];
      cell6.innerText = record_list[i]['time'];

    }
  }

  // function journal_table_load(data) {
  //   journal_list = data['journal_list']
  //   var table = document.getElementById("journal_table");
  //   table.innerHTML = ""
  //   // table.deleteTFoot();
  //   // var footer = table.createTFoot();
  //   var journal_list_length = 0;
  //   for (var item in journal_list) {
  //     journal_list_length++;
  //   }
  //   for (var i = 0; i < journal_list_length; i++) {
  //     var row = table.insertRow(0);
  //     var cell1 = row.insertCell(0);
  //     var cell2 = row.insertCell(1);
  //     var cell3 = row.insertCell(2);
  //     var cell4 = row.insertCell(3);
  //     var cell5 = row.insertCell(4);
  //     var cell6 = row.insertCell(5);
  //     var cell7 = row.insertCell(6);
  //     cell1.innerHTML = journal_list[i]['journal_name'];
  //     cell2.innerText = journal_list[i]['journal_year'];
  //     cell3.innerText = journal_list[i]['journal_stage'];
  //     cell4.innerText = journal_list[i]['total_num'];
  //     cell5.innerText = journal_list[i]['lend_num'];
  //     cell6.innerText = journal_list[i]['order_num'];
  //     cell7.innerText = journal_list[i]['stock_num'];

  //   }
  // }

  window.onload = function () {
    $.ajax({
      url: "journal_admin_user_borrow_info", success: function (data) {
        // journal_table_load(data)
        record_table_load(data)
        journal_admin_user_info_load(data)
      }
    });
  }
  function record_table_select() {
    var td = event.srcElement;
    var table = document.getElementById("record_table")
    document.getElementById("user_name_input").value = table.rows[td.parentElement.rowIndex - 1].cells[0].innerText
    document.getElementById("journal_name_input").value = table.rows[td.parentElement.rowIndex - 1].cells[1].innerText
    document.getElementById("journal_year_input").value = table.rows[td.parentElement.rowIndex - 1].cells[2].innerText
    document.getElementById("journal_stage_input").value = table.rows[td.parentElement.rowIndex - 1].cells[3].innerText
  }
  // function journal_table_select() {
  //   var td = event.srcElement;
  //   var table = document.getElementById("journal_table")
  //   document.getElementById("journal_name_input").value = table.rows[td.parentElement.rowIndex - 1].cells[0].innerText
  //   document.getElementById("journal_year_input").value = table.rows[td.parentElement.rowIndex - 1].cells[1].innerText
  //   document.getElementById("journal_stage_input").value = table.rows[td.parentElement.rowIndex - 1].cells[2].innerText
  // }
  function account_select_load(data) {
    account_list = data['account_list']
    var account_list_length = 0;
    for (var item in account_list) {
      account_list_length++;
    }
    var sec = document.getElementById("account_select")
    sec.innerHTML = ""
    for (var i = 0; i < account_list_length; i++) {

      var account = account_list[i]['account']
      var flag = 0;
      for (var j = 0; j < sec.options.length; j++) {
        var r = sec.options[j].value
        if (account == r) {
          flag = 1
          break;
        }
      }
      if (flag == 1) {
        continue;
      }
      var op = document.createElement("option")
      op.setAttribute("value", account)
      op.innerText = account
      sec.appendChild(op)
    }
  }

  function record_uptade() {
    post_data = {
      'user_name': document.getElementById("user_name_input").value,
      'journal_name': document.getElementById("journal_name_input").value,
      'journal_year': document.getElementById("journal_year_input").value,
      'journal_stage': document.getElementById("journal_stage_input").value,
      'record_update_mothed': document.getElementById("record_update_mothed").value
    }
    $.ajax({
      url: "record_uptade", data: post_data, success: function (data) {
        if (data['flag'] == 1) {
          alert("成功")
        } else {
          alert("失败")
        }

      }
    });
  }



</script>

</html>